<% if flash[:error_messages] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:error_messages].each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: board do |form| %>
  <div class="mb-3">
    <%= form.label :author_name, '名前' %>
    <%= form.text_field :author_name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :body, '本文' %>
    <%= form.text_area :body, class: 'form-control', rows: 10 %>
  </div>
  <%= form.submit '保存', class: 'btn btn-primary' %>
<% end %>